{"algorithm": "bayes",
 "parameters": {"scale": {"type": "float",
                          "scalingType": "uniform",
                          "min": 0.0,
                          "max": 0.0},
                "learning_rate": {"type": "float",
                                  "scalingType": "loguniform",
                                  "min": -16.11,
                                  "max": -6.50},
                "momentum": {"type": "float",
                             "scalingType": "uniform",
                             "min": 0.5,
                             "max": 0.9},
                "batch_size": {"type": "discrete",
                               "values": [8, 16, 32, 64, 128, 256, 512, 1024]}},
 "spec": {"metric": "test_Loss",
          "objective": "minimize",
          "seed": 42},
 "trials": 100,
 "name": "Hyperparam search (fixed layers)"} 